*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
  }

/* Store Settings */
:root {
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Arbutus', serif;
    --ff-backup1: 'Raleway', sans-serif;
    --ff-backup2: 'Roboto Condensed', sans-serif;
  
    --clr-color1: #e04d4d;
    --clr-color2: #0F0F0F;
    --clr-color3: #ffffff;
    --clr-color4: #726E97;
  }

body {
    background: var(--clr-color1);
    font-family: var(--ff-body);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
