/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
  }

/* Store Settings */
:root {
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Arbutus', serif;
    --ff-backup1: 'Raleway', sans-serif;
    --ff-backup2: 'Roboto Condensed', sans-serif;
  
    --clr-color1: #E35555;
    --clr-color2: #252222;
    --clr-color3: #D6CFCB;
    --clr-color4: #726E97;
  }

body {
  background: var(--clr-color1);
  font-family: var(--ff-body);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start; /* Aligns children to the start of the main axis */
}

header.container {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  width: 70%; 
  margin: 0 auto; 
}

/* Style for h1 and h2 */
h1, h2 {
    margin: 0 0 10px 0; /* Removed the top margin to align with the top of the page */
}

h1{
  font-family: var(--ff-heading);
  margin: 10px 0;
  font-size: 6em;
}

h2 {
  margin: 10px 0;
  font-size: 2em; 
  font-family: var(--ff-backup1);
}

/* Style for paragraphs */
div.container {
    padding: 20px;
    text-align: center;
    width: 70%; 
    margin: 0 auto; 
    line-height: 3em;
}

p{
font-size: 1.5em;
}

/* Style for button */
button {
    padding: 10px 20px;
    margin-top: 20px; /* Adds margin to the top of the button */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* Center the button horizontally */
}

button:hover {

}
